.first {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 140px;
}

.second {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    border-radius: 50px;
}